<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>

    <style>
        body {
            padding: 20px;
        }

        ul>li {
            padding: 5px;
        }
    </style>
</head>

<body>
    <h1>{{ post.title }}</h1>
    <small>Written by: {{ post.author.name }}</small>

    <br />
    <br />
    <a href="{% url 'index' %}">Home</a>

    <p>
        {{ post.content }}
    </p>
    <p>
        Contact me
        <br />
        <small>Email: {{ post.author.email }}</small>
        <br />
        <small>Website: <a href="{{ post.author.link }}">{{ post.author.link }}</a></small>
    </p>
</body>

</html>